<!DOCTYPE html>
<html lang="en">

<head>
    <title>Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5;
            animation: fadein 0.5s;
        }

        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myController" ng-init="onInit()">

    <div id="snackbar">

        New Order has been placed

        <button class="btn btn-primary" ng-click="reloadOrders()">reload</button>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/management">Oregano</a>
            </div>
            <ul style="display: flex;justify-content:space-between;align-items:center" class="nav navbar-nav">
                <li class="active"><a href="#">Management</a></li>
                <li style="margin:10px !important" ng-if="admin.isLoggedIn">
                    {{admin.name}}
                </li>
                <li ng-if="admin.isLoggedIn">
                    <button class="btn btn-danger" ng-click="logout()">Log out</button>
                </li>
            </ul>

        </div>
    </nav>


    <!--Rider assignment modal-->
    <div class="modal fade " id="riderAssignmentModal">
        <div class="modal-dialog modal-xl" style="width:90vw">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header "
                    style="display:flex;justify-content:space-between;align-items:center;align-content: center;">
                    <h4 class="modal-title">Assign rider</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <h3>Available riders list</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Current City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rider in riderList">
                                    <td> {{ (rider.facebookToken).name}} </td>
                                    <td>{{rider.phone}}</td>
                                    <td>{{rider.currentPlace}}</td>
                                    <td>
                                        <button class="btn btn-success"
                                            ng-click="assignRider(rider._id)">Assign</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Order details</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Buyer name</th>
                                <td> {{orderInfo.buyerName}} </td>
                            </tr>
                            <tr>
                                <th>Seller name</th>
                                <td> {{orderInfo.sellerName}} </td>
                            </tr>
                            <tr>
                                <th>Pickup from</th>
                                <td> {{orderInfo.pickupFrom}} </td>
                            </tr>
                            <tr>
                                <th>Drop to</th>
                                <td> {{orderInfo.dropTo}} </td>
                            </tr>
                            <tr>
                                <th>Delivery charge</th>
                                <td>Tk.{{orderInfo.deliveryCharge}} </td>
                            </tr>
                            <tr>
                                <th>Total charge</th>
                                <td>Tk.{{orderInfo.totalCharge}} </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!--Order details modal-->
    <div class="modal fade" id="orderDetailsModal">
        <div class="modal-dialog" style="width:90vw">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Order Details</h4>
                </div>

                <div class="modal-body">
                    <div class="container">

                        <h3>Order details</h3>
                        <table class=" table table-striped">
                            <tr>
                                <th>Buyer name</th>
                                <td> {{orderInfo.buyerName}} </td>
                                <th>Buyer phone</th>
                                <td> {{orderInfo.buyerPhone}} </td>
                            </tr>
                            <tr>
                                <th>Seller name</th>
                                <td> {{orderInfo.sellerName}} </td>
                                <th>Seller phone</th>
                                <td> {{orderInfo.sellerPhone}} </td>
                            </tr>
                            <tr ng-if="orderInfo.riderName">
                                <th>Rider name</th>
                                <td> {{orderInfo.riderName}} </td>
                                <th>Rider phone</th>
                                <td> {{orderInfo.riderPhone}} </td>
                            </tr>
                            <tr>
                                <th>Pickup from</th>
                                <td> {{orderInfo.pickupFrom}} </td>
                            </tr>
                            <tr>
                                <th>Drop to</th>
                                <td> {{orderInfo.dropTo}} </td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td> {{orderInfo.statusText}} </td>
                            </tr>
                            <tr ng-if="currentOrderStatus>=5">
                                <th>Delivery time:</th>
                                <td>{{orderInfo.deliveryTime}}</td>
                            </tr>
                        </table>

                        <button ng-if="currentOrderStatus==5" ng-click="markPaid()" class="btn btn-success">Mark as
                            paid</button>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <div ng-if="!admin.isLoggedIn">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            form {
                border: 3px solid #f1f1f1;
            }

            input[type=text],
            input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            button {
                background-color: #04AA6D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
            }

            button:hover {
                opacity: 0.8;
            }

            .cancelbtn {
                width: auto;
                padding: 10px 18px;
                background-color: #f44336;
            }



            img.avatar {
                width: 40%;
                border-radius: 50%;
            }

            .container {
                padding: 16px;
            }

            span.psw {
                float: right;
                padding-top: 16px;
            }

            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
                span.psw {
                    display: block;
                    float: none;
                }

                .cancelbtn {
                    width: 100%;
                }
            }
        </style>
        <h2>Login Form</h2>

        <form ng-submit="login()" method="post">


            <div class="container">
                <label for="uname"><b>Phone number</b></label>
                <input type="text" ng-model="loginInfo.phone" placeholder="Enter Phone number" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" ng-model="loginInfo.password" placeholder="Enter Password" name="psw" required>
                <label for="Region">Region</label>
                <select name="Region" id="" ng-model="loginInfo.region">
                    <option ng-repeat="region in availableRegions" value="{{region}}">{{region}}</option>
                </select>
                <button type="submit">Login</button>

            </div>


        </form>
    </div>



    <div ng-if="admin.isLoggedIn" class=" ">
        <div>
            <div>
                <h2>All orders from {{admin.region}}</h2>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Buyer phone</th>
                        <th>Seller phone</th>
                        <th>Pickup location</th>
                        <th>Drop location</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td> <input type="text" name="" placeholder="filter" ng-model="filter.buyerPhone"
                                ng-change="updateFilter()"> </td>
                        <td> <input type="text" name="" placeholder="filter" ng-model="filter.sellerPhone"
                                ng-change="updateFilter()"> </td>
                        <td> <input type="text" name="" placeholder="filter" ng-model="filter.pickupLocation"
                                ng-change="updateFilter()"> </td>
                        <td> <input type="text" name="" placeholder="filter" ng-model="filter.dropLocation"
                                ng-change="updateFilter()"> </td>
                        <td> <input type="date" name="" placeholder="filter" ng-model="filter.time"
                                ng-change="updateFilter()">
                        </td>
                        <td> <input type="text" name="" placeholder="filter" ng-model="filter.statusText"
                                ng-change="updateFilter()"> </td>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in temOrderList">
                        <td>{{order.buyer.phone}}</td>
                        <td>{{order.seller.phone}}</td>
                        <td>{{ order.pickupLocationGeocode }}</td>
                        <td>{{ order.dropLocationGeocode }}</td>
                        <td> {{order.orderTime}} </td>
                        <td>{{order.statusText}}</td>
                        <td><button type="button" class="btn btn-primary"
                                ng-click="takeAction(order.status,order._id)">{{order.actionText}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="management.js">
</script>

</html>